name: Appimage
concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: true

on:
  schedule:
    - cron: "0 16 1/30 * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container: alpine:latest
    steps:
    - uses: actions/checkout@v4

    - name: build
      if: always()
      run: |
        apk add bash \
          build-base \
          cairo-dev \
          coreutils \
          gdk-pixbuf-dev \
          git \
          glib-dev \
          gtk+3.0-dev \
          gvfs \
          itstool \
          librsvg-dev \
          libxcb-dev \
          libxkbcommon-dev \
          meson \
          pango-dev \
          patchelf \
          strace \
          wget \
          xvfb-run

        chmod +x ./*-appimage.sh && ./*-appimage.sh
        mkdir dist
        mv *.AppImage* dist/
        mv *.AppBundle* dist/

    - name: Check version file
      run: |
       cat ~/version
       echo "APP_VERSION=$(cat ~/version)" >> "${GITHUB_ENV}"
    
    - name: Upload artifact
      uses: actions/upload-artifact@v4.6.2
      with:
        name: AppImage
        path: 'dist'
        
    - name: Upload version file
      uses: actions/upload-artifact@v4.6.2
      with:
       name: version
       path: ~/version
    
  release:
      needs: [build]
      permissions: write-all
      runs-on: ubuntu-latest

      steps:
        - uses: actions/download-artifact@v4.3.0
          with:
            name: AppImage
        - uses: actions/download-artifact@v4.3.0
          with:
            name: version

        - name: Read version and Get date
          run: |
            echo "VERSION=$(cat version)" >> "${GITHUB_ENV}"
            echo "DATE=$(date +'%Y-%m-%d_%s')" >> "$GITHUB_ENV"
  
        - name: Release Artifacts
          uses: softprops/action-gh-release@v2.3.2
          with:
            name: "Zenity: ${{ env.VERSION }}"
            tag_name: "${{ env.DATE }}-${{ env.VERSION }}"
            prerelease: false
            draft: false
            generate_release_notes: false
            fail_on_unmatched_files: false
            make_latest: true
            files: |
              *.AppImage*
              *.AppBundle*
